<!-- views/dashboard.ejs -->
<!doctype html>
<html lang="en">
<head>
	<%- include ./partials/head.ejs %>
</head>
<%- include ./partials/nav.ejs %>
<body>
	<div class="container">
		<h4>???</h4>
	</div>
</body>
</html>