<!-- views/index.ejs -->
<!doctype html>
<html lang="en">
<head>
	<%- include ./partials/head.ejs %>
</head>
<%- include ./partials/nav.ejs %>
<body>
	<div class="container">
		<div class="jumbotron">
			<h2>FreeCodeCamp.com Book Trading Club app!</h2>
			<ul>
				<li>Manage your book collection online</li>
				<li>Browse the collections of other users</li>
				<li>Initiate and manage trades with other users from your dashboard</li>
			</ul>
		</div>
	</div>
</body>
</html>